@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.main-content  {
  display: flex;
  width: 10000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f1f3f5;
  min-height: calc(100vh - 2rem); /* Adjust to fit Sidebar and Footer heights */
  z-index: 1;
}

.main-dashboard {
  display: flex;
  width: 10000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 7.5rem;
  background-color: #f1f3f5;
  min-height: calc(100vh - 2rem); /* Adjust to fit Sidebar and Footer heights */
  z-index: 1;
}

.container{
  background-color: #f1f3f5;
  min-height: 100vh;
  width: 5000px;
}