# Enter your own credentials and rename this file to ».env«

# Express
hostname='localhost'
port='8080'
NODE_ENV='development'

# Firebase
apiKey=""
authDomain=""
projectId=""
storageBucket=""
messagingSenderId=""
appId=""
measurementId=""
