.icons {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* In deiner CSS-Datei */
.page {
  display: flex;
  flex-direction: row; /* Standardrichtung ist "row", horizontal */
  align-items: flex-start; /* Oben ausrichten */
  justify-content: flex-start; /* Links ausrichten */
  padding: 20px; /* Raum um den Inhalt hinzufügen */
}

.iconContainer {
  margin-right: 20px; /* Abstand zum Hauptinhalt */
}


.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Überschrift */
.inputContainer h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

/* Folgezeile zur Überschrift */
.inputContainer h3 {
  font-family: 'Raleway', serif;
  font-size: 1rem;
}

/* Test: so könnte man die Worte in der Überschrift einzeiln ansteuern */
.inputContainer h1 span {
  color: var(--primary-color);
}

/* Folgezeile zur Überschrift */
.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

/* Eingabefeld für die lange URL */
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Platzhalter */
.inputContainer input::placeholder {
  font-size: 0.9rem;
}

/* Senden - Button */
.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: #D2B554;
  border: none;
  cursor: pointer;
}

/* Result - Container */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

/* Result - Ausgabebereich der gekürzten URL */
.result p {
  color: black;
  background-color: #CEDAD4;
  border: 1px solid #D2B554;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

/* Result - Ausgabebereich der gekürzten URL */
.result button  {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #D2B554;
  cursor: pointer;
  border: none;
}